.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(4rem, 10vw, 8rem);
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--font-serif);
  letter-spacing: 0.5em;
  text-align: center;
  color: var(--color-accent);
}